.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #52a5f8;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333333;
    color: #FF7F50;
    padding: 5px 0;
    text-align: center;
    font-size: 0.7rem;
    z-index: 1000;
}

.footer p {
    margin: 0;
    padding: 5px 0;
}