/* Navbar CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FF7F50; /* Vivid Coral color for navbar */
    color: #333333;
    position: relative; /* Ensure the navbar container is positioned relative */
}

.navbar-logo img {
    height: 40px;
    cursor: pointer;
}

.navbar-welcome-text h2 {
    margin: 0;
    font-size: 25px;
    font-weight: normal;
    transition: font-size 0.3s ease; /* Smooth transition for font resizing */
}

/* Make the welcome text responsive */
@media (max-width: 768px) {
    .navbar-welcome-text h2 {
        font-size: 16px; /* Smaller font size on medium devices */
    }
}

@media (max-width: 480px) {
    .navbar-welcome-text h2 {
        font-size: 16px; /* Smaller font size on mobile devices */
    }
}

.navbar-profile-container {
    position: relative;
    cursor: pointer;
}

.navbar-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Profile dropdown */
.profile-dropdown {
    position: absolute;
    top: 50px; /* Adjust the dropdown's position from the top */
    right: 0;
    background-color: #333333; /* Dark background for dropdown */
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    min-width: 200px;
    z-index: 10;
    display: none; /* Initially hide the dropdown */
}

/* Show the dropdown when profile is clicked */
.navbar-profile-container.show-profile .profile-dropdown {
    display: block;
}

.profile-dropdown h2, h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.profile-dropdown h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Profile Log Out Button Styling */
.profile-logout-btn {
    background-color: #FF7F50; /* Tomato red for the logout button */
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button Hover Effect */
.profile-logout-btn:hover {
    background-color: #ec614c; /* Darker red on hover */
}